* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen-gradient-background: url(assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    --footer-gradient-background: url(assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.main-container {
    width: 100vw;
    /* max-width: 1920px; */
    width: 1920px;
    margin: 0 auto;
}

.page-container {
    display: flex;
    justify-content: center;
}

.start-page {
    height: 908px;
    background: var(--start-screen-gradient-background);
}

.about-page {
    height: 588px;
    background: var(--color-light-xl);
}

.our-pets-page {
    height: 877px;
    background: var(--color-light-l);
}

.help-page {
    height: 611px;
    background: var(--color-light-xl);
}

.donation-page {
    height: 464px;
    background: var(--color-light-l);
}

.footer {
    height: 355px;
    background: var(--footer-gradient-background);
}

.content-wrapper {
    width: 62.5%;
    /* max-width: 1200px; */
    width: 1200px;
}

.header {
    height: 60px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.title {
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: .06em;
    color: var(--color-primary);
    text-transform: capitalize;
}

.subtitle {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: .1em;
    color: var(--color-light-xl);
    padding-top: 10px;
    padding-left: 4px;
}

.nav {
    width: 37%;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.nav a {
    text-decoration: none;
    position: relative;
    color: var(--color-dark-s);
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    line-height: 24px;
}

.nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 100%;
    background: var(--color-primary);
}