* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    --footer-gradient-background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.main-container {
    width: 100vw;
    /* max-width: 1920px; */
    width: 1920px;
    margin: 0 auto;
}

.page,
.footer {
    display: flex;
    justify-content: center;
}

.start.page {
    height: 908px;
    background: var(--start-screen-gradient-background);
}

.about.page {
    height: 588px;
    background: var(--color-light-xl);
}

.our-pets.page {
    height: 877px;
    background: var(--color-light-l);
}

.help.page {
    height: 611px;
    background: var(--color-light-xl);
}

.donation.page {
    height: 464px;
    background: var(--color-light-l);
}

.footer {
    height: 355px;
    background: var(--footer-gradient-background);
}

.content-wrapper {
    width: 62.5%;
    /* max-width: 1200px; */
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-content {
    display: flex;
    column-gap: 42px;
    align-items: center;
    margin-top: 60px;
}

.text-content {
    margin-bottom: 80px;
}

.about-content {
    display: flex;
    column-gap: 120px;
    align-items: center;
    padding: 0 175px;
    margin-bottom: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

h2 {
    font-family: Georgia, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    color: var(--color-dark-l);
}

h3 {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: .06em;
    color: var(--color-dark-l);
    text-align: center;
}

h4 {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: .06em;
    color: var(--color-dark-l);
}

h5 {
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: .06em;
    color: var(--color-dark-l);
}

p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-xl);
}

.donation-description {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--color-dark-m);
}

.button {
    outline: none;
    border: none;
    width: 207px;
    height: 52px;
    border-radius: 100px;
    background: var(--color-primary);
    color: var(--color-dark-xl);
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .06em;
}

.button:hover {
    cursor: pointer;
    background: var(--color-primary-light);
}

.credit-card {
    text-decoration: none;
    display: block;
    background-color: var(--color-primary);
    width: 349px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.header {
    height: 60px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.title {
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: .06em;
    color: var(--color-primary);
    text-transform: capitalize;
}

.subtitle {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: .1em;
    color: var(--color-light-xl);
    padding-top: 10px;
    padding-left: 4px;
}

.nav {
    width: 37%;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.nav a {
    text-decoration: none;
    position: relative;
    color: var(--color-dark-s);
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
    line-height: 24px;
}

.nav a:hover {
    cursor: pointer;
    color: var(--color-light-s);
}

.nav a.active {
    color: var(--color-light-s);
}

.nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 100%;
    background: var(--color-primary);
}

.start.page h2 {
    color: var(--color-light-xl);
    margin-bottom: 41px;
}

.start.page p {
    color: var(--color-dark-s);
    margin-bottom: 41px;
}

.help-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5rem;
    margin-bottom: 1.25rem;
}

.help h3 {
    text-align: center;
}

.items-list {
    width: 85.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 11.6%;
    row-gap: 3.25rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

.donation-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer .content-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 13%;
}

.footer-img {
    align-self: flex-end;
}

.footer a {
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-decoration: none;
}

.contacts-block {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
}

.location-block {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    margin-left: -20px;
}

.our-pets .content-wrapper {
    margin-bottom: 20px;
} 

.slider {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    column-gap: 7.5%;
    justify-content: center;
    overflow: hidden;
}

.btn {
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid var(--color-primary);
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 52px/2);
}

.btn.next {
    right: 0;
}

.btn.next img {
    transform: scaleX(-1);
}

.btn:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
}

.card {
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background-color: var(--color-light-s);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.card:hover {
    background-color: var(--color-light-xl);
    cursor: pointer;
}

.card-title {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .06em;
}

.card-button {
    outline: none;
    border: 2px solid var(--color-primary);
    width: 187px;
    height: 52px;
    border-radius: 100px;
    background: var(--color-light-s);
    color: var(--color-dark-xl);
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .06em;
}

.card-button:hover {
    background: var(--color-primary-light);
    border: none;
    cursor: pointer;
}