* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-row-gap: 10px;
  padding: 20px 10px;
  overflow: hidden;
  background: #457b9d;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.7s ease-in-out;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.keyboard__key {
  background-color: #f1faee;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0.5rem;
  padding: 0 0.2rem;
  border-radius: 10px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
}

.keyboard__key:hover,
.keyboard__key.active {
  cursor: pointer;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
  -webkit-transform: translateY(2px);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  background: #a8dadc;
}

[data-fn='true'] > .letter {
  font-size: 1.6rem;
}

[data-code='Backspace'] {
  width: 130px;
}

[data-code='Tab'],
[data-code='Delete'],
[data-code='ArrowUp'],
[data-code='ArrowRight'],
[data-code='ArrowDown'],
[data-code='ArrowLeft'] {
  width: 60px;
}

[data-code='CapsLock'] {
  width: 110px;
}

[data-code='Enter'] {
  width: 130px;
}

[data-code='ShiftLeft'] {
  width: 90px;
}

[data-code='ShiftRight'] {
  width: 140px;
}

[data-code='Space'] {
  width: 420px;
}

.letter {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform-origin: center;
}

.sub {
  font-size: 1.6rem;
  width: 100%;
  color: #a5a5a5;
  text-align: left;
  padding-left: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.sub.sub-active:not(:empty) {
  color: #808080;
  font-size: 1.8rem;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  color: #a5a5a5;
  font-size: 1.4rem;
  text-align: center;
  padding-right: 10px;
  width: 50%;
  transform-origin: center;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.use-keyboard-input {
  resize: none;
  width: 60%;
  margin-top: 5rem;
  height: 15rem;
  padding: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.06em;
  outline: none;
}
