.right-col {
  position: relative;
  width: 20%;
  min-width: 24rem;
  @include flex-col();
  align-items: center;
  padding: 3rem 2rem 1.5rem;
  background: $colorPrimary;

  .fullscreen-btn {
    right: 6px;
  }

  .title {
    @include header2();
    text-align: center;
    text-transform: uppercase;
  }

  .controls {
    @include flex-col();
    align-items: center;
    text-align: center;

    .control {
      position: relative;
      display: inline-block;
      padding: 2px;
      border-radius: 24px;
      border: 2px solid $colorAccent;

      input {
        position: absolute;
        opacity: 0;
      }

      label {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 90px;
        height: 40px;
        @include header4();
        color: $colorAccent;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      .switch {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 40px;
        width: 90px;
        background: $colorAccent;
        border-radius: 50em;
        transition: transform 0.5s;
      }
    }

    input[type='radio']:checked + label + .switch,
    input[type='radio']:checked + label:nth-of-type(n) + .switch {
      transform: translateX(92px);
    }

    input[type='radio']:checked + label {
      color: $colorLight-s;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;

    .card {
      min-width: 22rem;
      max-width: 24rem;
      padding: 1.5rem;
      background: $colorLight-s;
      border-radius: 12px;
      box-shadow: $shadow;
      transition: 0.3s all;

      &__value {
        margin-bottom: 1rem;
        @include header2();
      }

      &__title {
        @include header4();
        text-transform: capitalize;
      }
    }

    .card:first-child .card__value {
      color: $blue;
    }

    .card:nth-child(2) .card__value {
      color: $red;
    }

    .card:last-child .card__value {
      color: $green;
    }
  }

  .back-btn {
    padding: 0.6rem 1rem;
    @include header4();
    color: $colorAccent;
    background: none;
    border-radius: 24px;
    border: 2px solid #963821;
    outline: none;
    transition: all 0.3s ease-in;

    &:hover {
      color: $colorLight-s;
      background: $colorAccent;
      cursor: pointer;
    }
  }
}
