$colorLight-s: #f7f3f0;
$colorLight-m: #f9f9f9;
$colorDark: #322923; // #615d6c;
$colorPrimary: #efdbb2;
$colorAccent: #963821;
$red: #dc4405;
$green: #84bd00;
$blue: #307fe2;
$colorPrimary-m: #ceb888;
$shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
$selectWidth: 210px;

@mixin header1() {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $colorAccent;
}

@mixin header2() {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $colorDark;
}

@mixin header3() {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $colorDark;
}

@mixin header4() {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
  color: $colorDark;
}

@mixin header5() {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: $colorDark;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
