@import 'font.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --color-light: #ffffff;
  --color-dark-s: #4c4c4c;
  --color-dark-m: #252323;
  /*   --color-primary: #120c6e;
  --color-primary-dark: #090d59; */
  --color-primary-dark: #200062;
  --color-primary: #2f008c;
  --color-accent: #ae0076;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'Lato', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

pre {
  font-family: 'Source Code Pro', monospace;
}

h2,
h3,
h4 {
  letter-spacing: 0.03em;
  line-height: 160%;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

.left-col {
  width: calc(100% - 360px);
  background: var(--color-primary);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem;
  overflow-y: scroll;
}

.right-col {
  width: 36rem;
  background: var(--color-primary-dark);
  color: var(--color-light);
  padding: 1rem 2rem;
  padding-right: 0;
}

.level-list {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.8rem;
  padding-top: 1rem;
  overflow-y: scroll;
}

.level-list__level {
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  line-height: 160%;
  padding-left: 12px;
}

.level-list__level {
  cursor: pointer;
}

.level__checkmark {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 13px;
  opacity: 2;
  border: solid 3px white;
  border-width: 0 3px 3px 0;
  opacity: 0.2;
  top: -1px;
  transform: rotate(40deg);
}

.level__checkmark.completed {
  opacity: 1.55;
  border: solid 3px #4cbb4a;
  border-width: 0 3px 3px 0;
}

.level__checkmark.with-hint {
  opacity: 1.55;
  border: solid 2px #ff9e00;
  border-width: 0 3px 3px 0;
}

.hint {
  outline: none;
  border: none;
  background: var(--color-primary-dark);
  color: var(--color-light);
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.hint:hover {
  cursor: pointer;
  background: var(--color-accent);
}

.game-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 1%;
  height: 30rem;
}

.game-wrapper * {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.editor {
  width: 80%;
  display: flex;
}

.editor__panel {
  flex: 1;
  background: var(--color-primary-dark);
  padding: 1rem;
}

.css-form {
  background: var(--color-light);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}

.css-form label {
  color: var(--color-dark-s);
  font-size: 1.6rem;
  letter-spacing: 0.03em;
}

.css-form__input {
  color: var(--color-dark-m);
  font-size: 2rem;
  letter-spacing: 0.03em;
  padding: 0.25em 0.4em;
}

.css-form__submit {
  border: none;
  outline: none;
  background: var(--color-accent);
  color: var(--color-light);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  padding: 1rem 2rem;
  opacity: 0.9;
  align-self: center;
}

.css-form__submit:hover {
  cursor: pointer;
  opacity: 1;
}

.html {
  padding: 1rem 0;
}

.html__markup {
  color: var(--color-light);
  font-size: 1.6rem;
}

/* Game styles */

.game-wrapper sun {
  flex-grow: 4;
  background-image: url(../assets/images/Sun.png);
}

.game-wrapper mercury,
.game-wrapper .mercury {
  flex-grow: 0.5;
  background-image: url(../assets/images/Mercury.png);
}

.game-wrapper venus,
.game-wrapper .venus {
  background-image: url(../assets/images/Venus.png);
}

.game-wrapper earth,
.game-wrapper .earth {
  flex-grow: 1.2;
  background-image: url(../assets/images/Earth.png);
}

.game-wrapper mars,
.game-wrapper .mars {
  flex-grow: 0.8;
  background-image: url(../assets/images/Mars.png);
}

.game-wrapper jupiter,
.game-wrapper .jupiter {
  flex-grow: 2.2;
  background-image: url(../assets/images/Jupiter.png);
}

.game-wrapper saturn,
.game-wrapper .saturn {
  flex-grow: 2.4;
  background-image: url(../assets/images/Saturn.png);
}

.game-wrapper uranus,
.game-wrapper .uranus {
  flex-grow: 2;
  background-image: url(../assets/images/Uranus.png);
}

.game-wrapper neptune,
.game-wrapper .neptune {
  flex-grow: 1.2;
  background-image: url(../assets/images/Neptune.png);
}

.game-wrapper moon {
  flex-grow: 0.4;
  background-image: url(../assets/images/Moon.png);
}

.game-wrapper comet {
  background-image: url(../assets/images/Comet.png);
}
